<header><div class="container">
  <a routerLink="/" class="logo">
    <img src="assets/logo.png" alt="Angular Logo" class="angular-logo"></a>
    <nav>
        <ul>
          <li *ngIf="!user.emailid">
            <a routerLink="/login">Login</a>
          </li>

          <li *ngIf="user.emailid" class="menu-container">
            <a routerLink="/dashboard">{{user.emailid}}</a>
            <div class="menu">
              <a routerLink="/profile">Profile</a>
              <a routerLink="/orders">Orders</a>
              <a (click)="logout()">Logout</a>
            </div>
          </li>
          
          <li>
            <a routerLink="/cart">
              Cart 
            </a>
          </li>
        </ul>
      </nav>
</div>
</header>
