<header><div class="container">
  <a routerLink="/" class="logo">
    <img src="assets/logo.png" alt="Angular Logo" class="angular-logo"></a>
    <nav>
        <ul>
          <li>
            <a routerLink="/login">Login</a>
          </li>

          <li class="menu-container">
            <a routerLink="/customer"></a>
            <div class="menu">
              <!-- <a routerLink="/profile">Profile</a>
              <a routerLink="/orders">Orders</a> -->
              <!-- <a (click)="logout()">Logout</a> -->
            </div>
          </li>
          
          <li>
            <a routerLink="/admin">
              Cart 
            </a>
          </li>
        </ul>
      </nav>
</div>
</header>
