<div class="container">
    <div class="content">
      <app-title [title]="isEditMode ? 'Edit Food' : 'Add Food' "></app-title>
  
      <form class="form" [formGroup]="foodForm" (ngSubmit)="submit(foodForm.value)">
        <app-text-input label="Name" [control]="foodForm.controls['name']" [showErrorsWhen]="isSubmitted"></app-text-input>
        <app-text-input label="Category" [control]="foodForm.controls['category']" [showErrorsWhen]="isSubmitted"></app-text-input>
        <app-text-input label="Description" [control]="foodForm.controls['description']" [showErrorsWhen]="isSubmitted"></app-text-input>
        <app-text-input label="Price" type="number" [control]="foodForm.controls['price']" [showErrorsWhen]="isSubmitted"></app-text-input>
        <app-text-input label="Image URL" [control]="foodForm.controls['image']" [showErrorsWhen]="isSubmitted"></app-text-input>
        <app-checkbox label="Available" formControlName="isAvailable"></app-checkbox>
        
        <app-text-input label="Restaurant ID" type="number" [control]="foodForm.controls['restaurantId']" [showErrorsWhen]="isSubmitted"></app-text-input>
  
        <app-default-button [text]="isEditMode ? 'Update' : 'Create'"></app-default-button>
      </form>
    </div>
  </div>