<div class="container">
    <div class="content">
        <app-title title="Change Password"></app-title>

        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

            <app-text-input [control]="this.changePasswordForm.controls.currentPassword" type="password"
                label="Current Password" [showErrorsWhen]="isSubmitted"></app-text-input>
            <app-text-input [control]="this.changePasswordForm.controls.newPassword" type="password" label="New Password"
                [showErrorsWhen]="isSubmitted"></app-text-input>
            <app-text-input [control]="this.changePasswordForm.controls.confirmPassword" type="password"
                label="Confirm Password" [showErrorsWhen]="isSubmitted"></app-text-input>

            <app-default-button text="Change"></app-default-button>

        </form>
    </div>
</div>